@import "../../../styles.scss";

.rule-page-intro {
  font-size: 2vh !important;
  font-weight: 400 !important;
  text-align: start;
  > .rule-page-intro-bold {
    font-weight: bold;
  }
}

.component-body {
  @include for-size(small-max) {
    padding: 3.5vh 30px;
  }
}
.rule-container {
  position: relative;
  padding: 3.5vh 0;
  > .rule-category {
    display: flex;
    > .rule-category-title {
      padding: 15px 10px;
      border-radius: 15px 0 0 15px;
      font-size: 3vh;
    }
    > .rule-category-title-background-extension {
      width: 4vw;
      border-radius: 0 20px 40px 0;
    }
    > .rule-category-title-circle {
      width: 15px;
      height: 10px;
      border-radius: 25px;
      margin-left: 5px;
    }
  }
  > .rule-prologue,
  .rule-epilogue {
    padding-top: 2vh;
    padding-left: 17px;
    font-size: 1.5vh;
    text-align: start;
  }
  > .rule /* mat-card */ {
    border-radius: 25px;
    > .rule-head {
      padding-bottom: 5px;
      > .rule-number {
        position: absolute;
        padding: 5px;
        border-radius: 15px;
        top: 0.5vh;
        left: 10px;
        font-size: 2.5vh;
      }
      > .rule-title {
        font-size: 2vh;
      }
    }
    > .rule-desc {
      padding: 1.5vh 2vh 1vh 2vh;
      font-size: 1.5vh;
      text-align: center;
    }
  }
}
.rule-page-beta-advisor {
  padding: 1vh 0;
  font-size: 1.2vh;
  font-weight: 500;
  text-align: start;
}
