<app-page-title
  [title]="pageTitle"
  [route]="pageRoute"
  [anchors]="rulesCategories"
  [routes]="rulesRoutes"
></app-page-title>
<div class="component-body">
  <h2
    [style.color]="tService.getFontColor()"
    [innerHTML]="rulePageIntro"
    class="rule-page-intro"
  ></h2>
  <div *ngFor="let rulesContainer of allRules" class="rule-container">
    <div class="rule-category" [style.color]="tService.getFontColor()">
      <app-category-title
        [categoryTitle]="rulesContainer.title"
        [categoryNumber]="rulesContainer.rules.length"
      ></app-category-title>
    </div>
    <div
      *ngIf="rulesContainer.prologue"
      [innerHTML]="rulesContainer.prologue"
      [style.color]="tService.getFontColor()"
      class="rule-prologue"
    ></div>
    <div *ngFor="let rule of rulesContainer.rules" class="rule-container">
      <mat-card
        [innerHTML]="generateInnerHTML(rule) | safeHtml"
        [style.boxShadow]="cssBoxShadow"
        class="rule"
      ></mat-card>
    </div>
    <div
      *ngIf="rulesContainer.epilogue"
      [innerHTML]="rulesContainer.epilogue"
      class="rule-epilogue"
    ></div>
  </div>
  <div [style.color]="tService.getFontColor()" class="rule-page-beta-advisor">
    {{ rulePageBetaAdvisor }}
  </div>
</div>
