<div class="podium-container" [style.color]="tService.getFontColor()">
  <div class="podium-places">
    <div class="podium-second-place">
      <div
        class="podium-player-icon"
        *ngIf="players[1]?.image; else defaultPlayerIcon"
      >
        {{ players[1].image }}
      </div>
      <div
        class="podium-pedestal"
        [style.backgroundColor]="tService.getThemeForegroundColor()"
      >
        <div
          class="podium-number"
          [style.backgroundColor]="tService.getThemePColor()"
        >
          2
        </div>
      </div>
    </div>
    <div class="podium-first-place">
      <div
        class="podium-player-icon"
        *ngIf="players[0]?.image; else defaultPlayerIcon"
      >
        {{ players[0].image }}
      </div>
      <div
        class="podium-pedestal"
        [style.backgroundColor]="tService.getThemeForegroundColor()"
      >
        <div
          class="podium-number"
          [style.backgroundColor]="tService.getThemePColor()"
        >
          1
        </div>
      </div>
    </div>
    <div class="podium-third-place">
      <div
        class="podium-player-icon"
        *ngIf="players[2]?.image; else defaultPlayerIcon"
      >
        {{ players[2].image }}
      </div>
      <div
        class="podium-pedestal"
        [style.backgroundColor]="tService.getThemeForegroundColor()"
      >
        <div
          class="podium-number"
          [style.backgroundColor]="tService.getThemePColor()"
        >
          3
        </div>
      </div>
    </div>
  </div>
  <div class="podium-players-names">
    <div class="podium-player-complete-name">
      {{ players[1]?.name }} {{ players[1]?.lastName }}
    </div>
    <div class="podium-player-complete-name">
      {{ players[0]?.name }} {{ players[0]?.lastName }}
    </div>
    <div class="podium-player-complete-name">
      {{ players[2]?.name }} {{ players[2]?.lastName }}
    </div>
  </div>
  <div class="podium-players-scores">
    <div class="podium-players-nas-score" style="font-size: 2vh;">
      {{ players[1]?.nasScore }}
      <span class="podium-nas-score-symbol">N</span>
    </div>
    <div class="podium-players-nas-score" style="font-size: 3vh;">
      {{ players[0]?.nasScore }}
      <span class="podium-nas-score-symbol">N</span>
    </div>
    <div class="podium-players-nas-score" style="font-size: 1.5vh;">
      {{ players[2]?.nasScore }}
      <span class="podium-nas-score-symbol">N</span>
    </div>
  </div>
</div>

<ng-template #defaultPlayerIcon>
  <mat-icon inline="true" class="podium-player-icon">person_pin</mat-icon>
</ng-template>
