.podium-container {
  > .podium-places {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    > .podium-second-place .podium-pedestal {
      height: 8vh;
    }
    > .podium-first-place .podium-pedestal {
      height: 12vh;
    }
    > .podium-third-place .podium-pedestal {
      height: 4vh;
    }
    > .podium-second-place,
    .podium-first-place,
    .podium-third-place {
      flex-grow: 1;
      max-width: 16vh;
      > .podium-player-icon {
        padding-bottom: 3vh;
        font-size: 5vh;
      }
      > .podium-pedestal {
        margin: 2px;
        display: flex;
        justify-content: center;
        > .podium-number {
          width: 2vh;
          height: 2vh;
          margin-top: 1vh;
          font-size: 1.5vh;
          font-weight: bold;
          border-radius: 25px;
        }
      }
    }
  }
  > .podium-players-names,
  .podium-players-scores {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 10px;
    > .podium-player-complete-name {
      flex-grow: 1;
      max-width: 16vh;
      font-size: 1.7vh;
      font-weight: bold;
      line-height: 2vh;
    }
    > .podium-players-nas-score {
      flex-grow: 1;
      max-width: 16vh;
      font-weight: bold;
      line-height: 2vh;
      .podium-nas-score-symbol {
        font-size: 1vh;
      }
    }
  }
}
