<app-page-title
  [title]="pageTitle"
  [route]="pageRoute"
  [anchors]="achievementsCategories"
  [routes]="achievementsRoutes"
></app-page-title>
<div
  *ngFor="let achievementCategory of allAchievements"
  [id]="achievementCategory.category"
  class="achievement-category"
>
  <app-category-title
    [categoryTitle]="achievementCategory.category"
  ></app-category-title>
  <app-achievement
    *ngFor="let achievement of achievementCategory.achievements"
    [achievement]="achievement"
  ></app-achievement>
</div>
