@import "~@angular/material/theming";

$dark-primary: mat-palette($mat-purple, 300, 200, 400);
$dark-accent: mat-palette($mat-yellow, 600, 300, A700);
$dark-warn: mat-palette($mat-pink, 500);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Our dark theme
.dark-theme {
  @include angular-material-theme($dark-theme);
}
