@import "../styles.scss";

body {
  margin: 0 !important;
  padding: 0 !important;
}

main {
  padding: 0 45px;
  position: relative;
  text-align: center;
  @include for-size(small-max) {
    padding: 0;
  }
}
