<div class="achievement-container">
  <div class="achievement-icon" [style.color]="tService.getFontColor()"><mat-icon>local_bar</mat-icon></div>
  <div class="achievement-text">
    <div
      class="achievement-title"
      [innerHTML]="achievement.title"
      [style.color]="tService.getFontColor()"
    ></div>
    <div
      class="achievement-desc"
      [innerHTML]="achievement.description"
      [style.color]="tService.getFontColor()"
    ></div>
  </div>
  <div class="achievement-nas-score" [style.color]="tService.getFontColor()">
    {{ achievement.nasScore }}
    <span class="achievement-nas-score-symbol"> N</span>
  </div>
</div>
