@import "~@angular/material/theming";
// always include only once per project
@include mat-core();

@import "app/themes/light-theme.scss";
@import "app/themes/dark-theme.scss";

@mixin for-size($size) {
  @if $size == small {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $size == medium {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size == large {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $size == very-large {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 2vh;
}

.container {
  @include for-size(small) {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  @include for-size(medium) {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  @include for-size(large) {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  @include for-size(very-large) {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
