.theme-title {
  padding-right: 10px;
}

.theme-preview {
  width: 25px;
  height: 25px;
  > .p-color {
    border-radius: 3px 3px 0 0;
    width: 100%;
    height: 15px;
  }
  > .s-color {
    border-radius: 0 0 3px 3px;
    width: 100%;
    height: 10px;
  }
}
