<a mat-icon-button [matMenuTriggerFor]="thememenu">
  <mat-icon>format_paint</mat-icon>
</a>

<mat-menu #thememenu="matMenu" class="theme-menu">
  <button
    mat-menu-item
    *ngFor="let theme of themes"
    (click)="onSelectTheme(theme.className)"
  >
    <span class="theme-title">{{ theme.name }}</span>
    <mat-icon class="theme-preview">
      <div
        class="p-color"
        [style.backgroundColor]="theme.primary.primaryColor"
      ></div>
      <div
        class="s-color"
        [style.backgroundColor]="theme.accent.primaryColor"
      ></div>
    </mat-icon>
  </button>
</mat-menu>
